name: CI

on:
  pull_request:
    branches:
      - master
      - develop

jobs:
  api:
    runs-on: ubuntu-latest
    env:
      working-directory: .

    steps:
    - uses: actions/checkout@v2
    - name: Build Docker Images
      run: docker-compose -f docker-compose.yml -f docker-compose.ci.yml up -d
      working-directory: ${{env.working-directory}}
    - name: Run Tests
      run: docker-compose -f docker-compose.yml -f docker-compose.ci.yml run honeybee-api sh -c "yarn && yarn test"
      working-directory: ${{env.working-directory}}
